<template>
  <div class="degrees">
    <div v-for="degree, index in degrees" :key="degree.id">
      <select_input
        :field="degrees[index].field"
        v-model="degrees[index][field.options.default.name]"
        :options="degrees[index].options"
        :data-key="index"
      ></select_input>
      <div v-if="degrees[index][field.options.default.name]">
        <component
          :is="subField.type"
          :field="subField"
          :options="subField.options"
          v-model="degrees[index][subField.name]"
          @change="value => changeHandler(value, index)"
          v-for="subField in field.options[JSON.parse(degrees[index][field.options.default.name]).sub_fields]"
          :key="degree.id + subField.name"
        ></component>
      </div>
      <a v-if="degrees.length > 1" href="#" class="remove_degree" @click.prevent="removeEducation(degree.id)" v-html="field.buttons.remove || fallbackRemove"></a>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href="#" @click.prevent="addEduction" v-html="field.buttons.add"></a>
      </div>
    </div>
  </div>
</template>

<script>
  import { isJsonString, deepCloneArray } from '../../../utils'

  import Select2Input from '../stateless/Select2'
  import SelectAutocomplete from '../select/SelectAutocompleteInput'
  import DatePicker from '../custom/DatePicker'

  const Degrees = {
    name: 'degrees',
    props: ['field'],
    components: {
      'select_input': Select2Input,
      'select_autocomplete': SelectAutocomplete,
      'date-picker': DatePicker
    },
    inject: {
      $validator: '$validator'
    },
    updated() {
      let formatedData = deepCloneArray(this.degrees)
      formatedData = formatedData.map(item => {
        Object.keys(item).map(key => {
          if (isJsonString(item[key])) {
            item[key] = JSON.parse(item[key]).value
          }
        })
        return item
      })

      this.updateStore(formatedData)
    },
    methods: {
      changeHandler(option, index) {
        if (option.url) {
          const { name, url, term } = option
          const type = JSON.parse(this.degrees[index].edu_type_id).value
          const timestamp = Date.now()
          const _requestURL = `${url}?type=${type}&site_group_id=0&_=${timestamp}&term=${term}`
          console.log(_requestURL)
          this.$store.dispatch('GET_AUTOCOMPLETE_OPTIONS', _requestURL).then((response) => {
            this.degrees[index][name].options = response.data
          }).catch(err => console.log(err))
        }
      },
      addEduction() {
        this.degrees.push({
          id: Date.now(),
          [this.$props.field.options.default.name]: '',
          field: this.$props.field.options.default,
          options: this.$props.field.options.default.options
        })
      },
      removeEducation(id) {
        this.degrees = this.degrees.filter(item => item.id !== id)
      },
      updateStore(formatedData) {
        let data = {
          'name': this.$props.field.name,
          'value': formatedData
        }

        this.$store.commit('SIMPLE_FIELD_UPDATE', data)
      }
    },
    data() {
      return {
        fallbackRemove: '<span class="glyphicon glyphicon-remove"></span>',
        degrees: [
          {
            id: Date.now(),
            [this.$props.field.options.default.name]: '',
            field: this.$props.field.options.default,
            options: this.$props.field.options.default.options
          }
        ]
      }
    }
  }

  export default Degrees
</script>
