<template>
  <div class="error_messages" v-if="messages">
    <h2>Er zitten {{messages.length}} fouten in het formulier</h2>
    <ul>
      <li v-for="msg, key in messages" :key="key">
        {{msg}}
      </li>
    </ul>
  </div>
</template>

<script>
  import { getHumanReadableErrorLabel } from '../../utils'

  const BackendErrorMessages = {
    name: 'BackendErrorMessages',
    props: ['config'],
    computed: {
      messages() {
        return this.getFromatedErrors()
      }
    },
    methods: {
      getFromatedErrors() {
        let { errors } = this.$store.state
        let formatedErrors = []

        if (!errors) return

        for (let key in errors) {
          if (errors[key][0]) {
            let errorString = getHumanReadableErrorLabel(key, this.$props.config) + ' ' + errors[key][0]
            formatedErrors.push(errorString)
          }

          if (errors[key].title) {
            let customKey = errors[key].detail.split(' ')[0]
            let errorString = getHumanReadableErrorLabel(customKey, this.$props.config) + ' ' + errors[key].title
            formatedErrors.push(errorString)
          }
        }

        return formatedErrors
      }
    }
  }

  export default BackendErrorMessages
</script>
