<template>
  <div class="custom-tooltip">
    {{content}}
  </div>
</template>

<script>
  const Tooltip = {
    name: 'tooltip',
    props: ['content']
  }
  export default Tooltip
</script>


<style lang="scss">
  .custom-tooltip {
    background: #2dafcf;
    bottom: calc(100% + 10px);
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    left: 50%;
    margin-left: -100px;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 200px;
    transition: transform .5s, opacity .5s, visibility .5s;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;

    .form-check:hover &,
    input:hover + &,
    input:focus + &,
    select:hover + &,
    textarea:hover + & {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    &::after {
      border-top: 5px solid #2dafcf;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      bottom: -5px;
      content: '';
      display: block;
      left: 50%;
      position: absolute;
    }
  }
</style>
