<template>
  <div class="checkbox-group" :class="{'has-error': errors.has(field.name) }">
    <div class="row" v-if="field.label">
      <div class="col">
        {{field.label}}
      </div>
    </div>
    <div class="check_boxes" :class="field.class_list">
      <div class="checkbox" v-for="option, key in field.options" :key="key">
        <label class="form-check-label">
          <input
            class="form-check-input"
            v-validate="field.validation ? field.validation.rules : ''"
            v-model="selected"
            @change="updateStore($event)"
            type="checkbox"
            :name="field.name"
            :value="option.value"
          />
          {{option.label}}

          <slot name="tooltip" v-if="option.tooltip">
            <tooltip :content="option.tooltip"></tooltip>
          </slot>
        </label>
      </div>
    </div>
    <span v-if="field.validation" v-show="errors.has(field.name)" class="help-block has-error">{{getErrorMessage()}}</span>
  </div>
</template>

<script>
  import Tooltip from '../../shared/Tooltip'

  const CheckboxGroup = {
    name: 'checkbox-group',
    props: ['field'],
    components: {
      Tooltip
    },
    model: {
      prop: 'data',
      event: 'change'
    },
    inject: {
      $validator: '$validator'
    },
    created() {
      let predefinedSelected = this.$props.field.selected || []
      let data = {
        'name': this.$props.field.name,
        'value': predefinedSelected
      }

      this.updateState(data)
    },
    methods: {
      updateStore(e) {
        let { name } = this.$props.field
        let { value, checked } = e.target

        let existingData = this.$store.getters.getFieldByKey(name)

        if (checked) {
          existingData.push(value)
        } else {
          existingData.splice(existingData.indexOf(value), 1)
        }

        let data = {
          'name': name,
          'value': existingData
        }

        this.$emit('change', existingData)
        this.updateState(data)
      },

      updateState(data) {
        this.$store.commit('SIMPLE_FIELD_UPDATE', data)
      },

      getErrorMessage() {
        if (this.errors.errors.length) {
          let rule = this.errors.errors.filter((err) => {
            return err.field === this.$props.field.name
          })
          if (rule.length) {
            return this.$props.field.validation.messages[rule[0].rule]
          }
        }
      }
    },
    data() {
      let predefinedSelected = this.$props.field.selected || []
      return {
        selected: predefinedSelected
      }
    }
  }
  export default CheckboxGroup
</script>

<style lang="scss">
  .form-check {
    position: relative;
  }
</style>
