<template>
  <div>
    <label class="form-check-label">
      <input
        class="form-check-input"
        v-validate="field.validation ? field.validation.rules : ''"
        v-model="selected"
        type="checkbox"
        :name="field.name"
        :value="field.value"
      />
      {{field.label}}

      <slot name="tooltip" v-if="field.tooltip">
        <tooltip :content="field.tooltip"></tooltip>
      </slot>
    </label>
    <span v-if="field.validation" v-show="errors.has(field.name)" class="help-block has-error">{{getErrorMessage()}}</span>
  </div>
</template>

<script>
  const CheckboxInput = {
    name: 'checkbox-item',
    props: ['field', 'noStateBind'],
    model: {
      prop: 'data',
      event: 'change'
    },
    inject: {
      $validator: '$validator'
    },
    updated() {
      this.$emit('change', this.selected)
    },
    methods: {
      getErrorMessage() {
        if (this.errors.errors.length) {
          let rule = this.errors.errors.filter((err) => {
            return err.field === this.$props.field.name
          })
          if (rule.length) {
            return this.$props.field.validation.messages[rule[0].rule]
          }
        }
      }
    },
    data() {
      return {
        selected: false
      }
    }
  }
  export default CheckboxInput
</script>
