<template>
  <div class="input-types" :class="field.type">
    <div v-for="i,k in counter" :key="k">
      <a href="javascript:void(0)" @click="counter--" v-if="counter > 1" class="remove_degree"><span class="glyphicon glyphicon-remove"></span></a>
      <div v-if="field.type == 'complex_inputs'" class="form-group row complex-inputs">
        <label class="col-sm-3 control-label">{{field.label}} <abbr v-if="field.is_required" title="Verplicht">*</abbr></label>
        <div class="col-xs-12 col-lg-6 col-sm-9 complex-inputs">
          <div v-for="option, key in field.options" :key="key" class="col" :class="'col-' + option.type">
            <input-types :field="option" :class="field.type" :onChange="onChange || changeHandler" :currentCount="i"></input-types>
          </div>
        </div>
      </div>
      <div v-else-if="field.type == 'date-picker'" class="date-picker">
        <date-picker :field="field"></date-picker>
      </div>
      <component v-else :is="field.type" :field="getFieldData(field, i)" :onChange="onChange || changeHandler" :currentCount="i"></component>

      <input-types
          v-if="conditionalFields.fields"
          v-for="field, key in conditionalFields.fields"
          :key="key"
          :currentCount="i"
          :field="getFieldData(field, i)">
      </input-types>
    </div>
  </div>
</template>

<script>
  import Accordion from './custom/Accordion'
  import AgreementSection from './custom/AgreementSection'
  import CheckboxGroup from './checkbox/CheckboxGroup'
  import CvSection from './custom/CvSection'
  import DatePicker from './custom/DatePicker'
  import Degrees from './degrees/Degrees'
  import EmailInput from './email/EmailInput'
  import HiddenInput from './hidden/HiddenInput'
  import PasswordInput from './password/PasswordInput'
  import RadioGroup from './radio/RadioGroup'
  import Select2Input from './select/Select2Input'
  import SelectAutocompleteInput from './select/SelectAutocompleteInput'
  import SelectInput from './select/SelectInput'
  import SubmitSection from './custom/SubmitSection'
  import TextInput from './text/TextInput'
  import Textbox from './textarea/Textbox'
  import UploadField from './upload/UploadField'

  export default {
    name: 'input-types',
    props: ['field', 'multiple', 'currentCount', 'onChange'],
    components: {
      'text_input': TextInput,
      'text_box': Textbox,
      'email': EmailInput,
      'radio': RadioGroup,
      'select_input': SelectInput,
      'select_autocomplete': SelectAutocompleteInput,
      'password': PasswordInput,
      'agreement': AgreementSection,
      'checkbox_list': CheckboxGroup,
      'cv_section': CvSection,
      'next_page': SubmitSection,
      'upload-field': UploadField,
      'hidden-input': HiddenInput,
      'select2-input': Select2Input,
      'accordion': Accordion,
      'date-picker': DatePicker,
      'degrees': Degrees
    },
    data() {
      return {
        counter: 1,
        conditionalFields: { fields: [] }
      }
    },
    methods: {
      changeHandler(fields) {
        this.$set(this['conditionalFields'], 'fields', fields)
      },

      getFieldData(data, i) {
        let index = this.$props.currentCount || i
        let updatedData = Object.assign({}, data)

        if (updatedData.name) {
          updatedData.name = updatedData.name.replace('[counter]', '[' + index + ']')
        }

        return updatedData
      }
    }
  }

</script>

<style lang="scss">
  label {
    font-weight: normal;
  }

  .complex-inputs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;

    &::before,
    &::after {
      display: block;
    }

    .col {
      padding: 0;

      .row {
        margin: 0;

        .col {
          padding: 0 5px;

          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }

  .col {
    flex-grow: 1;
    padding: 0 5px;

    @media (max-width: 767px) {
      width: 100%;
    }

    &-hidden-input {
      display: none;
    }

    &-select_input {
      @media (max-width: 767px) {
        width: 25%;

        &:nth-child(2) {
          width: 50%;
        }
        &.col select {
          width: 100% !important;
        }
      }
    }
  }

  .agreement {
    @media (min-width: 767px) {
      float: left;
      width: 75%;
    }
  }
  .next_page {
    @media (min-width: 767px) {
      float: right;
      width: 25%;
    }
  }

  .remove_degree {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .form-group {
    input,
    select {
      max-width: 347px;
    }

  }
</style>
