<template>
  <div class="form-group row" :class="{'has-error': errors.has(field.name) }">
    <label class="col-sm-3 col-form-label" :for="field.name" v-if="field.label">{{field.label}} <abbr v-if="field.is_required">*</abbr></label>
    <div class="col">
      <input
        type="text"
        class="form-control"
        :id="field.name"
        :name="field.name"
        v-model="searchCriteria"
        @keyup="fetchResults"
        v-validate="field.validation ? field.validation.rules : ''"
        :placeholder="field.placeholder"
      >
      <div v-if="options.length">
        <span
            v-for="option in options"
            :key="option.id"
            class="badge"
            :class="option.id == false ? 'badge-warning' : 'badge-success'"
            @click="updateState(field.name, option)"
          >
          {{option.name}}
        </span>
      </div>
      <div v-else>
        <span class="badge badge-warning">Nothing Matched your criteria, Please refine your search</span>
      </div>
      <span v-if="field.validation" v-show="errors.has(field.name)" class="help-block has-error">{{getErrorMessage()}}</span>
    </div>
  </div>
</template>

<script>
  const SelectAutocompleteInput = {
    name: 'select-autocomplete-input',
    props: ['field', 'data', 'onChange'],
    model: {
      prop: 'data',
      event: 'change'
    },
    inject: {
      $validator: '$validator'
    },
    methods: {
      updateState(name, option) {
        let data = {
          'name': name,
          'value': option.id
        }

        this.$store.commit('SIMPLE_FIELD_UPDATE', data)
        this.searchCriteria = option.name
      },

      fetchResults() {
        let criteria = this.searchCriteria
        const _request = {
          url: this.$props.field.options_url,
          term: criteria,
          name: this.$props.field.name
        }

        if (criteria.length < 2) {
          this['options'] = [{id: false, name: 'Type in at least 2 characters'}]
          return false
        }

        // Emit updates on higher order component
        this.$emit('change', _request)

        this.$store.dispatch('GET_AUTOCOMPLETE_OPTIONS', _request).then((response) => {
          this['options'] = response['data']
        })
      },

      getErrorMessage() {
        if (this.errors.errors.length) {
          let rule = this.errors.errors.filter((err) => {
            return err.field === this.$props.field.name
          })
          if (rule.length) {
            return this.$props.field.validation.messages[rule[0].rule]
          }
        }
      }
    },
    data() {
      return {
        searchCriteria: '',
        options: []
      }
    }
  }
  export default SelectAutocompleteInput
</script>
