<template>
  <div class="select2box">
    <div class="form-group row" :class="{'has-error': errors.has(field.name) }">
      <label class="col-sm-3 col-form-label" v-if="field.label">{{field.label}} <abbr v-if="field.is_required">*</abbr></label>
      <div class="col">
        <select class="select2-enable form-control" v-model="selected">
          <option v-for="option, key in field.options" :value="option.value" :key="key">{{ option.label }}</option>
        </select>
        <span v-if="field.validation" v-show="errors.has(field.name)" class="help-block has-error">{{this.getErrorMessage()}}</span>
        <!-- Because we can't add validation to the third party directive we can add it to our hidden field -->
        <input
          type="hidden"
          :name="field.name"
          :required="field.is_required"
          v-validate="field.validation ? field.validation.rules : ''"
          v-model="selected"
          @change="updateState"
        />
      </div>
    </div>
    <input-types v-if="conditionalFields" v-for="field, key in conditionalFields" :key="key" :field="field" :onChange="onChange" :currentCount="currentCount"></input-types>
  </div>
</template>

<script>
  import 'select2'
  import 'select2/dist/css/select2.css'

  let $ = window.jQuery

  const Select2Input = {
    name: 'select2-input',
    props: ['field', 'onChange', 'currentCount'],
    inject: {
      $validator: '$validator'
    },
    beforeCreate() {
      this.$options.components['input-types'] = require('../InputTypes')
      if (process.env.NODE_ENV === 'development') {
        $ = require('jquery')
      }
    },
    mounted () {
      $(this.$el).ready(() => {
        $(this.$el.querySelector('.select2-enable')).select2({})
        $(this.$el.querySelector('.select2-enable'))
        $(this.$el.querySelector('.select2-enable')).on('change', (e) => {
          this.$emit('input', e.target.value)
          this.changeHandler(e.target.value)
        })
      })
    },
    created() {
      this.changeHandler(this.selected)

      let conditionalName = this.$props.field.name + '_condtional'
      this.$store.subscribe((mutation, state) => {
        if (mutation.type === 'BUNDLE_FIELDS_UPDATE' && state.form[conditionalName]) {
          this.updateConditionalFields(state.form[conditionalName])
        }
      })
    },
    methods: {
      setSelected() {
        let { options } = this.$props.field
        let selected = options.filter((option) => {
          return option.selected
        })

        if (selected.length < 1) {
          selected = options[0]
        }
        return selected[0].value
      },

      changeHandler(value) {
        this.selected = value
        this.updateState()
        let selectedObject = this.$props.field.options.filter((option) => {
          return option.value === value
        })
        this.updateConditionalFields(selectedObject[0].sub_fields)
      },

      updateConditionalFields(fieldName) {
        let cFields
        cFields = this.$props.field[fieldName]
        this.conditionalFields = cFields
      },

      updateState() {
        let data = {
          'name': this.$props.field.name,
          'value': this.selected
        }
        this.$store.commit('SIMPLE_FIELD_UPDATE', data)
      },

      getErrorMessage() {
        if (this.errors.errors.length) {
          let rule = this.errors.errors.filter((err) => {
            return err.field === this.$props.field.name
          })

          if (rule.length) {
            return this.$props.field.validation.messages[rule[0].rule]
          }
        }
      }
    },
    data() {
      return {
        selected: this.setSelected(),
        conditionalFields: {},
        testValue: []
      }
    }
  }

  export default Select2Input
</script>

<style lang="scss">
  .select2-container--default {
    @media(max-width: 991px) {
      // ovveride inline styling
      width: 100%!important;
    }

    .select2-selection {
      &--single {
        height: 34px;
        line-height: 1.42857143;
        border-radius: 2px;

        .select2-selection__rendered {
          line-height: 34px;
        }
        .select2-selection__arrow {
          height: 32px;
        }
      }

      &__arrow {
        border-left: 1px solid #cccccc;
        background: none;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

        b {
          background-position: 0 3px;
        }
      }
    }
  }

  </style>
