<template>
  <div>
    <div class="form-group row" :class="{'has-error': errors.has(field.name) }">
      <label class="col-sm-3 col-form-label" v-if="field.label">{{field.label}} <abbr v-if="field.is_required">*</abbr></label>
      <div class="col">
        <select v-validate="field.validation ? field.validation.rules : ''" class="form-control" :name="field.name" :required="field.is_required" v-model="selected" @change="updateFields">
          <option v-for="option, key in field.options"
            :value="option.value" :data-sub-field="option.sub_fields"
            :key="key">
            {{ option.label }}
          </option>
        </select>
        <span v-if="field.validation" v-show="errors.has(field.name)" class="help-block has-error">{{this.getErrorMessage()}}</span>

      </div>
    </div>
    <input-types v-if="conditionalFields" v-for="field, key in conditionalFields" :key="key" :field="field" :onChange="onChange" :currentCount="currentCount"></input-types>
  </div>
</template>

<script>
  const SelectInput = {
    name: 'select-input',
    props: ['field', 'onChange', 'currentCount', 'noStateBind'],
    model: {
      prop: 'data',
      event: 'change'
    },
    inject: {
      $validator: '$validator'
    },
    beforeCreate() {
      this.$options.components['input-types'] = require('../InputTypes')
    },
    created() {
      this.updateFields(this.selected)

      let conditionalName = this.$props.field.name + '_condtional'
      this.$store.subscribe((mutation, state) => {
        if (mutation.type === 'BUNDLE_FIELDS_UPDATE' && state.form[conditionalName]) {
          this.updateConditionalFields(state.form[conditionalName])
        }
      })
    },
    methods: {
      setSelected() {
        let { options } = this.$props.field
        let selected = options.filter((option) => {
          return option.selected
        })

        if (selected.length < 1) {
          selected = options[0]
        }
        return selected[0].value
      },

      updateFields() {
        this.updateState(this.selected)
        let selectedObject = this.$props.field.options.filter((option) => {
          return option.value === this.selected
        })
        this.updateConditionalFields(selectedObject[0].sub_fields)
      },

      updateConditionalFields(fieldName) {
        let cFields

        cFields = this.$props.field[fieldName]
        this.conditionalFields = cFields
      },

      updateState(value) {
        this.$emit('change', value)

        if (!this.$props.noStateBind) {
          let data = {
            'name': this.$props.field.name,
            'value': value
          }
          this.$store.commit('SIMPLE_FIELD_UPDATE', data)
        }
      },

      getErrorMessage() {
        if (this.errors.errors.length) {
          let rule = this.errors.errors.filter((err) => {
            return err.field === this.$props.field.name
          })

          if (rule.length) {
            return this.$props.field.validation.messages[rule[0].rule]
          }
        }
      }
    },
    data() {
      return {
        selected: this.setSelected(),
        conditionalFields: {}
      }
    }
  }
  export default SelectInput
</script>
