<template>
  <div class="radio_buttons">
    <div class="row form-group" :class="{'has-error': errors.has(field.name) }">
      <span class="col-form-label col-sm-3" v-if="field.label">
        {{field.label}}
        <abbr v-if="field.is_required" title="Verplicht">*</abbr>
      </span>

      <div class="col">
        <div :class="rowClass" class="radio-inline" v-for="option, key in field.options" :key="key">
          <label :for="getId(option.label)">
            <input
              class="form-check-input"
              v-validate="field.validation ? field.validation.rules : ''"
              :id="getId(option.label)"
              v-model="selected"
              type="radio"
              :name="field.name"
              :value="{value: option.value, subfields: option.sub_fields}"
              :required="field.is_required"
              @change="updateFields"
            />
            {{option.label}}
          </label>
        </div>
        <span v-if="field.validation" v-show="errors.has(field.name)" class="help-block has-error">{{getErrorMessage()}}</span>
        <radio-group v-for="option, key in field.fields" :key="key" v-if="option" :field="option"></radio-group>
      </div>
    </div>
  </div>
</template>

<script >
  const RadioGroup = {
    name: 'radio-group',
    props: ['field', 'onChange', 'rowType'],
    inject: {
      $validator: '$validator'
    },
    created() {
      let data = {
        'name': this.$props.field.name,
        'value': ''
      }

      this.updateState(data)
    },
    methods: {
      getId(label) {
        let id = label.split(' ').join('').toLowerCase() + this.$props.field.name
        return id
      },

      updateFields() {
        const selectedOption = this['selected']
        let conditionalFields = []

        this.updateState(selectedOption)
        if (Object.keys(selectedOption).length < 1) {
          return false
        }

        let filteredObject = this.$props.field.options.filter((option) => {
          return option['value'] === selectedOption['value']
        })

        if (filteredObject.length) {
          conditionalFields = this.$props.field[filteredObject[0].sub_fields]
        }

        this.$props.onChange(conditionalFields, selectedOption['subfields'])
      },

      getRowType() {
        let classList = 'form-check form-check-inline'

        if (this.$props.rowType === 'row') {
          classList = 'form-check form-col'
        }
        return classList
      },

      updateState(selectedObject) {
        let { value } = selectedObject
        let data = {
          'name': this.$props.field.name,
          'value': value
        }
        this.$store.commit('SIMPLE_FIELD_UPDATE', data)
      },

      updateValidationState() {
        this.$validator.validate(this.$props.field.name, this.selected).catch((invalid) => {
          console.warn(invalid)
        })
      },

      getErrorMessage() {
        if (this.errors.errors.length) {
          let rule = this.errors.errors.filter((err) => {
            return err.field === this.$props.field.name
          })
          if (rule.length) {
            return this.$props.field.validation.messages[rule[0].rule]
          }
        }
      }
    },
    data() {
      return {
        selected: {},
        rowClass: this.getRowType()
      }
    }
  }
  export default RadioGroup
</script>

<style scoped lang="scss">
  .radio-inline {
    padding-left: 0;
  }

  span.col-form-label {
    abbr {
      float: right;
    }
  }

  .theme-blue span.col-form-label abbr {
    color: #1cafed;
  }
  .theme-orange span.col-form-label abbr {
    color: #F77F00;
  }
</style>
