<template>
  <div class="select2box">
    <div class="form-group row" :class="{'has-error': errors.has(field.name) }">
      <label class="col-sm-3 col-form-label" v-if="field.label">{{field.label}} <abbr v-if="field.is_required">*</abbr></label>
      <div class="col">
        <select class="select2-enable form-control" v-model="selected">
          <option
            v-for="option, key in field.options"
            :value="onlyValue ? option.value : JSON.stringify(option)"
            :key="key">{{ option.label }}</option>
        </select>
        <span v-if="field.validation" v-show="errors.has(field.name)" class="help-block has-error">{{errorMessage}}</span>
        <!-- Because we can't add validation to the third party directive we can add it to our hidden field -->
        <input
          type="hidden"
          :name="field.name"
          :required="field.is_required"
          v-validate="field.validation ? field.validation.rules : ''"
          v-model="selected"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import 'select2'
  import 'select2/dist/css/select2.css'

  let $ = window.jQuery

  const Select2Stateless = {
    name: 'select2-stateless',
    props: ['field', 'data', 'onError', 'errorMessage', 'onlyValue'],
    model: {
      prop: 'data',
      event: 'change'
    },
    inject: {
      $validator: '$validator'
    },
    beforeCreate() {
      if (process.env.NODE_ENV === 'development') {
        $ = require('jquery')
      }
    },
    mounted () {
      $(this.$el).ready(() => {
        $(this.$el.querySelector('.select2-enable')).select2({})
        $(this.$el.querySelector('.select2-enable')).on('change', (e) => {
          this.$emit('change', e.target.value)
          this.selected = e.target.value
        })
      })
    },
    data() {
      return {
        selected: 0
      }
    }
  }

  export default Select2Stateless

</script>
