<template>
  <form id="spaFormSignup">
    <be-error-messages :config="config"></be-error-messages>
    <transition name="fade" mode="out-in">
      <div class="spa-form-wrapper" :key="currentPage">
        <div class="pre-form-box">
          <div class="alert alert-success" v-if="page[0].greet_note">{{page[0].greet_note}}</div>
          <div class="form-progress" v-if="page[0].show_progress_bar">
            <div class="step" :class="stepKey == currentPage ? 'step--active' : ''" v-for="step, stepKey in page[0].progress_bar.steps" :key="stepKey">
              <span>{{step.title}} ({{stepKey + 1}} / {{page[0].progress_bar.steps.length}})</span>
            </div>
            <div class="form-progress__status">
              <div class="status-text form-progress__item">
                {{page[0].progress_bar.count_text}}
              </div>
              <div class="visual-status form-progress__item">
                <span class="visual-status__step" :style="{width: (85 - page[0].progress_bar.steps.length) / page[0].progress_bar.steps.length + 'px'}" v-for="step in currentPage + 1" :key="step"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row new-candidate-signup" :key="$route.params.number">
          <div class="col-lg-12 hidden-xs" v-if="page[0].page_title">
            <h1>{{page[0].page_title}} {{candidateName}}</h1>
          </div>
          <div v-if="page[0].type == 'sidebar'" class="col-md-4 hidden-xs sidebar">
            <div class="white-container" v-for="container, key in page[0].containers" :key="key">
              <h3>{{container.title}}</h3>
              <div v-html="container.section_intro"></div>
            </div>
          </div>
          <div :class="page[0].type == 'sidebar' ? 'col-md-8' : 'col-md-12'">
            <page :page="page" :key="$route.params.number"></page>
          </div>
        </div>
      </div>
    </transition>
  </form>

</template>

<script>
  import Page from './Page'
  import BackendErrorMessages from './shared/BackendErrorMessages'

  const Home = {
    name: 'home',
    props: ['number', 'config'],
    components: {
      'page': Page,
      'be-error-messages': BackendErrorMessages
    },
    watch: {
      '$route' ($to, $from) {
        const currentPage = this.$store.getters.getRoute('currentPage')
        this.page = this.$props.config.page[currentPage]
        this.candidateName = this.$store.getters.getFieldByKey('firstname')
        this.$store.commit('RESET_STATE', {
          except: ['authenticity_token']
        })
      }
    },
    methods: {
      getPageNumber() {
        return this.$store.getters.getRoute('currentPage') + 1
      }
    },
    data() {
      const currentPage = this.$store.getters.getRoute('currentPage')
      this.$store.commit({
        type: 'SET_LAST_PAGE',
        number: Object.keys(this.$props.config.page).length
      })

      return {
        page: this.$props.config.page[currentPage],
        currentPage: currentPage,
        candidateName: ''
      }
    }
  }
  export default Home
</script>


<style lang="scss">

  @mixin cf {
    &::after {
      display: block;
      content: '';
      clear: both;
      width: 100%;
    }
  }
  .new-candidate-signup .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;

    &::before,
    &::after {
      display: block;
    }

    span.col-form-label,
    label {
      padding-top: 5px;
    }

    .col-lg-12:not(.sub_title) {
      width: 100%;
    }

    .form_title {
      font-size: 30px;

      @media (max-width: 767px) {
        font-size: 27px;
      }
    }
  }

  .form-progress {
    @include cf;
    background-color: #000;
    color: #fff;
    margin-bottom: 15px;

    &__item {
      float: left;
    }

    &__status {
      @include cf;
      float: right;
      padding-top: 15px;
    }

    .step {
      float: left;
      font-size: 14px;
      padding: 15px;

      &--active {
        background-color: #2DAFCF;
      }
    }
  }

  .visual-status {
    background-color: #fff;
    height: 15px;
    position: relative;
    width: 86px;
    margin: 5px 15px 0 15px;

    &__step {
      display: block;
      height: 13px;
      margin-top: 1px;
      margin-left: 1px;
      float: left;
      background: #00990a;
      vertical-align: top;
    }
  }

  .sidebar {
    float: right;

    @media (max-width: 991px) {
      float: none;
    }
  }
</style>
