<template>
  <div>
    <div class="white-container" v-for="section, key in page" :key="key" v-if="section.type != 'sidebar'">
      <div class="row" v-if="section.title">
        <div class="col-lg-12">
          <h2 :class="section.title_class_list">{{section.title}}</h2>
        </div>
      </div>

      <div class="row" v-if="section.section_intro">
        <div class="col-lg-12" v-html="section.section_intro"></div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <input-types v-for="field, sKey in section.fields" :key="sKey" :field="field" :multiple="section.allow_multiple"></input-types>
        </div>
      </div>

      <div class="row" v-if="section.footer_text">
        <div v-html="section.footer_text" class="col-lg-12" :class="section.footer_class_list"></div>
      </div>
    </div>
  </div>
</template>

<script>
  import InputTypes from './inputs/InputTypes'

  const Page = {
    name: 'page',
    props: ['page'],
    components: {
      InputTypes
    }
  }

  export default Page
</script>


<style lang="scss">
  .sub_title {
    font-style: italic;
    font-weight: 400;
    color: #D5D5D5;
    width: 75%;

    @media(max-width: 991px) {
      width: 90%;
    }

    @media(max-width: 767px) {
      width: 100%;
    }
  }
</style>
