<template>
  <div class="form-group row" :class="{'has-error': errors.has(field.name) }">
    <label class="col-sm-3" :for="field.name">
      {{field.label}}
      <abbr v-if="field.is_required" title="Verplicht">*</abbr>
    </label>
    <div class="col">
      <input
        v-validate="field.validation ? field.validation.rules : ''"
        class="form-control"
        :id="field.name"
        type="email"
        :name="field.name"
        :required="field.is_required"
        v-model="fieldValue"
        @change="onChange"
        :placeholder="field.placeholder"
        autocomplete="username"
      >
      <slot name="tooltip" v-if="field.tooltip">
        <tooltip :content="field.tooltip"></tooltip>
      </slot>
      <span v-if="field.validation" v-show="errors.has(field.name)" class="help-block has-error">{{this.getErrorMessage()}}</span>
    </div>
    <div class="col-lg-12 col-md-offset-3 suggestion" v-if="suggestion">
      <span @click="fieldValue = suggestion; onChange()">{{suggestion}}</span>?
    </div>
  </div>
</template>

<script>
  import Tooltip from '../../shared/Tooltip'

  const EmailInput = {
    name: 'email-input',
    props: ['field'],
    components: {
      Tooltip
    },
    inject: {
      $validator: '$validator'
    },
    created() {
      let data = {
        'name': this.$props.field.name,
        'value': this['fieldValue']
      }

      let updateStore = this['updateStore']
      updateStore(data)
    },
    methods: {
      onChange() {
        this.$validator.validate(this.$props.field.name, this.fieldValue).then((valid) => {
          let data = {
            'name': this.$props.field.name,
            'value': this['fieldValue']
          }

          this.updateStore(data)
          this.checkEmailUniqnuess()
          this.getSuggestions()
        })
      },

      updateStore(data) {
        this.$store.commit('SIMPLE_FIELD_UPDATE', data)
      },

      getSuggestions() {
        let topLevelDomains = ['co.jp', 'co.uk', 'com', 'net', 'org', 'info', 'edu', 'gov', 'mil', 'ca', 'nl']
        // eslint-disable-next-line
        this.suggestion = Mailcheck.suggest(this.fieldValue, Mailcheck.defaultDomains, topLevelDomains).full
      },

      checkEmailUniqnuess() {
        let data = {
          email: this.fieldValue
        }

        this.$store.dispatch('CHECK_EMAIL_UNIQNUESS', data).then((response) => {
          if (response.status === 200) {
            if (response.data.unique === false) {
              // eslint-disable-next-line
              document.querySelector('#candidateLogin .js-flash-message').innerHTML = response.data.message
              // eslint-disable-next-line
              $('#candidateLogin').modal()
            }
          }
        })
        .catch((reason) => {
          console.warn(reason)
        })
      },

      getErrorMessage() {
        if (this.errors.errors.length) {
          let rule = this.errors.errors.filter((err) => {
            return err.field === this.$props.field.name
          })
          if (rule.length) {
            return this.$props.field.validation.messages[rule[0].rule]
          }
        }
      }
    },
    data() {
      return {
        fieldValue: this.$store.getters.getFieldByKey(this.$props.field.name),
        suggestion: ''
      }
    }
  }
  export default EmailInput
</script>

<style lang="scss" scoped>
  .suggestion {
    color: #8a6d3b;
    cursor: pointer;
    text-decoration: underline;
  }
</style>
