<template>
  <div class="form-group row" :class="{'has-error': errors.has(field.name) }">
    <label class="col-sm-3 col-form-label" :for="field.name" v-if="field.label">
      {{field.label}}
      <abbr v-if="field.is_required" title="Verplicht">*</abbr>
    </label>
    <div class="col">
      <input
        v-if="field.validation"
        v-validate="field.validation ? field.validation.rules : ''"
        class="form-control"
        v-model="fieldValue"
        :id="field.name"
        type="text"
        :name="field.name"
        :required="field.is_required"
        :placeholder="field.placeholder"
      >
      <input
        v-else
        class="form-control"
        v-model="fieldValue"
        :id="field.name"
        @change="updateStore"
        type="text"
        :name="field.name"
        :placeholder="field.placeholder"
      >
      <slot name="tooltip" v-if="field.tooltip">
        <tooltip :content="field.tooltip"></tooltip>
      </slot>
      <span v-if="field.validation" v-show="errors.has(field.name)" class="help-block has-error">{{this.getErrorMessage()}}</span>
    </div>
  </div>
</template>

<script>
  import Tooltip from '../../shared/Tooltip'

  const TextInput = {
    name: 'text-input',
    props: ['field', 'noStateBind'],
    components: {
      Tooltip
    },
    model: {
      prop: 'data',
      event: 'change'
    },
    inject: {
      $validator: '$validator'
    },
    created() {
      this.$store.subscribe((mutation, state) => {
        if (mutation.type === 'SIMPLE_FIELD_UPDATE' && mutation.payload.name === this.$props.field.name) {
          this.fieldValue = this.$store.getters.getFieldByKey(this.$props.field.name)
        }

        if (mutation.type === 'BUNDLE_FIELDS_UPDATE' && this.isUpdated(mutation.payload)) {
          this.fieldValue = this.$store.getters.getFieldByKey(this.$props.field.name)
        }
      })
    },
    updated() {
      this.$emit('change', this.fieldValue)
      this.updateStore()
    },
    methods: {
      onChange() {
        this.$validator.validate(this.$props.field.name, this.fieldValue).then((valid) => {
          this.updateStore()
        }).catch((err) => {
          console.warn(err)
        })
      },

      updateStore() {
        let data = {
          'name': this.$props.field.name,
          'value': this.fieldValue
        }

        if (!this.$props.noStateBind) {
          this.$store.commit('SIMPLE_FIELD_UPDATE', data)
        }
      },

      getErrorMessage() {
        if (this.errors.errors.length) {
          let rule = this.errors.errors.filter((err) => {
            return err.field === this.$props.field.name
          })
          if (rule.length) {
            return this.$props.field.validation.messages[rule[0].rule]
          }
        }
      },

      isUpdated(list) {
        let updated = false
        list.map((updatedItem) => {
          if (updatedItem.name === this.$props.field.name) {
            updated = true
          }
        })

        return updated
      }
    },
    data() {
      return {
        fieldValue: this.$store.getters.getFieldByKey(this.$props.field.name)
      }
    }
  }
  export default TextInput
</script>
