<template>
  <div>
    <label class="label" :class="{ 'has-error': errors.has(field.name) }">{{field.label}}</label>
    <input :name="field.name" v-validate="field.validation ? field.validation.rules : ''" type="file" @change="updateState">
    <span v-if="field.validation" v-show="errors.has(field.name)" class="help-block has-error">{{this.getErrorMessage()}}</span>
  </div>
</template>

<script>
  const UploadField = {
    name: 'upload-field',
    props: ['field', 'onChange'],
    inject: {
      $validator: '$validator'
    },
    methods: {
      getErrorMessage() {
        if (this.errors.errors.length) {
          let rule = this.errors.errors.filter((err) => {
            return err.field === this.$props.field.name
          })
          if (rule.length) {
            return this.$props.field.validation.messages[rule[0].rule]
          }
        }
      },

      updateState(e) {
        let data = {
          name: this.$props.field.name,
          file: e.target.files[0],
          fileName: e.target.files[0].name
        }

        this.$store.commit('UPLOAD_FILE', data)
      }
    }
  }

  export default UploadField
</script>
