<template>
  <div class="form-group row" :class="{'has-error': errors.has(field.name) }">
    <label class="col-2 col-form-label" :for="field.name" v-if="field.label">
      {{field.label}}
      <span v-if="field.is_required" title="Verplicht">*</span>
    </label>
    <div class="col">
      <textarea
        v-validate="field.validation ? field.validation.rules : ''"
        class="form-control"
        v-model="fieldValue"
        :id="field.name"
        @change="onChange"
        :name="field.name"
        :required="field.is_required"
        :placeholder="field.placeholder"
      ></textarea>
      <slot name="tooltip" v-if="field.tooltip">
        <tooltip :content="field.tooltip"></tooltip>
      </slot>
      <span v-if="field.validation" v-show="errors.has(field.name)" class="help-block has-error">{{this.getErrorMessage()}}</span>
    </div>
  </div>
</template>

<script>
  import Tooltip from '../../shared/Tooltip'

  const Textbox = {
    name: 'text-box',
    props: ['field'],
    components: {
      Tooltip
    },
    inject: {
      $validator: '$validator'
    },
    created() {
      let data = {
        'name': this.$props.field.name,
        'value': this['fieldValue']
      }

      let updateStore = this['updateStore']
      updateStore(data)
    },
    methods: {
      onChange() {
        let data = {
          'name': this.$props.field.name,
          'value': this['fieldValue']
        }
        this.updateStore(data)
      },

      updateStore(data) {
        this.$store.commit('SIMPLE_FIELD_UPDATE', data)
      },

      getErrorMessage() {
        if (this.errors.errors.length) {
          let rule = this.errors.errors.filter((err) => {
            return err.field === this.$props.field.name
          })
          if (rule.length) {
            return this.$props.field.validation.messages[rule[0].rule]
          }
        }
      }
    },
    data() {
      return {
        fieldValue: this.$store.getters.getFieldByKey(this.$props.field.name)
      }
    }
  }
  export default Textbox
</script>
