<template>
  <div id="app">
    <div v-if="!loader.loaded" class="loader" :class="{'alert alert-danger text-center': loader.error}">{{loader.message}}</div>

    <router-view v-if="loader.loaded" :config="config"></router-view>
  </div>
</template>

<script>
import axios from 'axios'

const apiTries = 5

export default {
  name: 'app',
  methods: {
    loadConfiguration() {
      if (process.env.NODE_ENV === 'development' && window.location.port === '8080') {
        const cfg = require('./assets/university.js').default
        this.config = cfg
        this.loader.loaded = true
        console.warn('Configuration loaded from src/assets/university.js:', cfg)
        return false
      }

      let jsonUrl = document.querySelector('meta[name="json:url"]')

      axios({
        method: 'GET',
        url: jsonUrl.content,
        responseType: 'json'
      })
      .then((r) => {
        const self = this

        if (this.tries === apiTries) {
          this.loader.error = true
          this.loader.message = 'No Configuration found!'
          return false
        }

        if (r.data === null && this.tries < apiTries) {
          setTimeout(() => {
            self.setData(r.data)
            self.tries++
          }, 200).bind(this)
          return
        } else {
          this.setData(r.data)
        }
      })
      .catch((e) => {
        this.loader.message = process.env.NODE_ENV === 'development' ? e : 'Something went wrong please try again later.'
        this.loader.error = true
      })
    },

    setData(data) {
      if (data !== null) {
        if (typeof data !== 'object') {
          this.config = JSON.parse(data)
          this.loader.loaded = true
        } else {
          this.config = data
          this.loader.loaded = true
        }
      } else {
        this.loadConfiguration()
      }
    },

    setAuthToken() {
      let authenticityToken = document.querySelector('meta[name="authentication_token"]')

      if (!authenticityToken) {
        return false
      }

      let data = {
        'value': authenticityToken.content
      }
      this.$store.commit('UPDATE_AUTH', data)
    }
  },
  created() {
    this.loadConfiguration()
    this.setAuthToken()
  },
  data() {
    return {
      tries: 0,
      config: false,
      loader: {
        loaded: false,
        message: '',
        error: false
      }
    }
  }
}
</script>

<style>
html, body, #app {
  height: 100%;
  background: #f4f4f4;
}

.white-container {
  padding: 20px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-bottom: 15px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}
.row {
  position: relative;
}

</style>
