<template>
  <input type="hidden" :name="field.name" :value="field.value"/>
</template>

<script>
  const HiddenInput = {
    name: 'hidden-input',
    props: ['field'],
    created() {
      let data = {
        'name': this.$props.field.name,
        'value': this.$props.field.value
      }

      this.$store.commit('SIMPLE_FIELD_UPDATE', data)
    }
  }

  export default HiddenInput
</script>
