<template>
  <div class="accordion">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default" v-for="group, key in field.groups" :key>
        <a class="skill-accordion-link collapsed" @click.prevent="open = false" data-toggle="collapse" :href="'#' + key + group.title|cleanSpaces">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              {{ group.title }}
              <span class="glyphicon glyphicon-plus pull-right"></span>
              <span class="glyphicon glyphicon-minus pull-right"></span>
            </h4>
          </div>
        </a>

        <div :id="key + group.title|cleanSpaces" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            <div v-for="sGroup, sKey in group.sub_groups" :key="sKey">
              <h5>{{sGroup.title}}</h5>
              <input-types :field="sGroup"></input-types>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'

  Vue.filter('cleanSpaces', val => {
    return val.split(' ').join('').toLowerCase()
  })

  const Accordion = {
    name: 'accordion',
    props: ['field', 'onChange'],
    inject: {
      $validator: '$validator'
    },
    beforeCreate() {
      this.$options.components['input-types'] = require('../InputTypes')
    },
    data() {
      return {
        open: false
      }
    }
  }

  export default Accordion
</script>


<style lang="scss" scoped>
  .skill-accordion-link {
    &:hover {
      text-decoration: none;

      .panel-heading {
        background-color: #a0a0a0;
      }
    }

    .glyphicon-minus {
      display: block;
    }

    .glyphicon-plus {
      display: none;
    }

    &.collapsed {
      .glyphicon-plus {
        display: block;
      }
      .glyphicon-minus {
        display: none;
      }
    }

    .panel-heading {
      color: #000;
      border-bottom: 1px solid #ddd;
    }

    h4 {
      font-size: 16px;
      font-weight: 500;
      margin: 5px 0;
    }
  }
</style>
