<template>
  <div class="agreement-box">
    <div class="row" :class="{'has-error': errors.has(field.name) }">
      <div class="col-sm-12 checkbox">
        <input
          v-validate="field.validation ? field.validation.rules : ''"
          id="agreement"
          type="checkbox"
          :name="field.name"
          value="1"
          required="required"
          @change="updateStore($event, field.name)"
        >
        <label for="agreement">
          <span v-if="field.placeholder" v-html="field.placeholder"></span>
          <span v-else>
            Ja, ik ga akkoord met de <a data-toggle="modal" data-target="#privacyStatement" data-keyboard="true" href="#">privacyverklaring</a> <abbr title="Verplicht">*</abbr>
          </span>
        </label>
      </div>
      <div class="col-lg-12">
        <span v-if="field.validation" v-show="errors.has(field.name)" class="col-lg-12 help-block has-error">{{getErrorMessage()}}</span>
      </div>
    </div>
  </div>
</template>

<script>
  const AgreementSection = {
    name: 'agreement-section',
    props: ['field'],
    inject: {
      $validator: '$validator'
    },
    created() {
      let data = {
        'name': this.$props.field.name,
        'value': '0'
      }

      this.updateState(data)
    },
    methods: {
      updateStore(e, name) {
        let value = '0'

        if (e.target.checked) {
          value = '1'
        }

        let data = {
          'name': name,
          'value': value
        }

        this.updateState(data)
      },

      updateState(data) {
        this.$store.commit('SIMPLE_FIELD_UPDATE', data)
      },

      getErrorMessage() {
        if (this.errors.errors.length) {
          let rule = this.errors.errors.filter((err) => {
            return err.field === this.$props.field.name
          })
          if (rule.length) {
            return this.$props.field.validation.messages[rule[0].rule]
          }
        }
      }
    }
  }

  export default AgreementSection
</script>


<style lang="scss" scoped>
  .modal {
    display: block;
    overflow-y: auto;
    background: rgba(0, 0, 0, .5);
  }

  .checkbox {
    margin: 0;
  }

  .checkbox input[type="checkbox"] {
    margin-left: 0;
    top: 6px;

    @media (max-width: 991px) {
      top: 0;
    }
  }

  .agreement-box {
    label {
      @media(max-width: 991px) {
        padding-top: 0;
      }
    }
  }
</style>
