<template>
  <div class="cv-section">
    <div
      class="row form-group"
      v-for="radio, index in field.options.default.options"
      :key="index"
      >
      <label>
        <input
          type="radio"
          :name="field.options.default.name"
          v-model="selected"
          :value="{value: radio.value, sub_fields: radio.sub_fields}"
        />
        {{radio.label}}
      </label>
    </div>

    <div v-if="field.options[selected.sub_fields]" v-for="item, key in field.options[selected.sub_fields]">
      <component
        :is="item.type"
        :field="item"
        v-model="resume_attributes[item.name]"
        v-on:updateWXP="updateWXP"
        v-on:change="changeHandler"
      />
    </div>
  </div>
</template>

<script>
  import TextInput from '../text/TextInput'
  import UploadField from '../upload/UploadField'
  import RadioGroup from '../radio/RadioGroup'
  import WorkExperienceGroup from '../workexperience/WorkExperienceGroup'

  const CvSection = {
    name: 'cv-section',
    props: ['field', 'currentCount'],
    components: {
      'text_input': TextInput,
      'upload-field': UploadField,
      'radio': RadioGroup,
      'workexperience': WorkExperienceGroup
    },
    inject: {
      $validator: '$validator'
    },
    updated() {
      this.updateState()
    },
    data() {
      return {
        resume_attributes: {},
        selected: ''
      }
    },
    methods: {
      updateWXP(data) {
        Object.keys(data).map(key => {
          this.$set(this.resume_attributes, key, data[key])
        })
        this.updateState()
      },
      changeHandler() {
        this.updateState()
      },
      updateState() {
        this.$store.commit('SIMPLE_FIELD_UPDATE', {
          'name': this.$props.field.name,
          'value': this.resume_attributes
        })
      }
    }
  }

  export default CvSection
</script>

<style lang="scss">
  .cv-section {
    .radio-inline {
      margin-left: 10px;
      display: block;
      width: 100%;
      padding-left: 10px;
    }

    .no-cv-fields {
      padding-top: 30px;
      position: relative;
    }

    .remove_degree {
      top: 0;
    }
  }
</style>
