<template>
  <div class="form-group row" >
    <label v-if="field.label" class="col-sm-3 col-form-label">
      {{field.label}}
      <abbr v-if="field.is_required" title="Verplicht">*</abbr>
    </label>
    <div class="col-xs-12 col-sm-9 col-lg-6">
      <div v-if="!is_current" class="date-picker">
        <div
          class="col col-select_input"
          v-if="select.type === 'select_input'"
          v-for="select, key in field.options"
          :key="key"
        >
          <select_input
            :field="select"
            :name="select.name"
            v-model="date[select.name]"
            @change="updateState"
            :options="select.options"
            :onlyValue="true"
            :noStateBind="true"
          >
          </select_input>
        </div>
        <div
          class="col col-select2_input"
          v-if="select.type === 'select2_input'"
          v-for="select, key in field.options"
          :key="key"
        >
          <select2_input
            :field="select"
            :name="select.name"
            v-model="date[select.name]"
            @change="updateState"
            :options="select.options"
            :onlyValue="true"
          >
          </select2_input>
        </div>
      </div>
      <div v-if="field.addCurrent" class="is-current">
        <label>
          <input type="checkbox" :name="field.addCurrent.name" v-model="is_current">
          {{field.addCurrent.label}}
        </label>
      </div>
    </div>
  </div>
</template>

<script>
  import Select2Stateless from '../stateless/Select2'
  import SelectInput from '../select/SelectInput'

  const DatePicker = {
    name: 'date-picker',
    props: ['field', 'data', 'currentCount', 'noStateBind'],
    model: {
      prop: 'data',
      event: 'change'
    },
    components: {
      'select2_input': Select2Stateless,
      'select_input': SelectInput
    },
    created () {
      this.updateState()
    },
    computed: {
      formatedDate() {
        const { year, month, day } = this.date

        return year + '-' + month + '-' + day
      }
    },
    updated() {
      this.updateState()
    },
    methods: {
      getErrorMessage(field) {
        if (this.errors.errors.length) {
          let rule = this.errors.errors.filter((err) => {
            return err.field === field.name
          })

          if (rule.length) {
            return field.validation.messages[rule[0].rule]
          }
        }
      },

      updateState() {
        let data = {
          'name': this.$props.field.name,
          'value': this.formatedDate
        }
        if (this.is_current) {
          this.$emit('change', {is_current: true})
        } else {
          this.$emit('change', this.formatedDate)
        }

        if (!this.$props.noStateBind) {
          this.$store.commit('SIMPLE_FIELD_UPDATE', data)
        }
      }
    },
    data() {
      return {
        is_current: false,
        date: {
          'day': 1,
          'month': '',
          'year': ''
        }
      }
    }
  }
  export default DatePicker
</script>

<style lang="scss" scoped>
  .date-picker {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    .col:first-child {
      padding-left: 0;
    }
  }
</style>
