<template>
  <div class="submit">
    <button
      type="submit"
      @click.prevent="submitHandler"
      class="btn btn-primary pull-right btn-block candidate-signup-btn"
      :disabled="disabled"
    >{{field.label}}</button>

    <div class="errors" v-for="error, key in responseErrors" :key="key" v-if="error[0]">
      {{key}} {{error[0]}}
    </div>
  </div>
</template>

<script>
  const SubmitSection = {
    name: 'submit-section',
    props: ['field'],
    inject: {
      $validator: '$validator'
    },
    methods: {
      navigateFroward(leaveURL = false) {
        const currentPage = this.$store.getters.getRoute('currentPage')
        const lastPage = this.$store.getters.getRoute('lastPageIndex')

        // make sure currentPage is an Integer
        let nextPage = parseInt(currentPage) + 1

        if (nextPage === lastPage) {
          if (leaveURL) {
            window.location.href = leaveURL
          }
          return false
        }

        // update the VuexState
        this.$store.commit({
          type: 'UPDATE_PAGE_NUMBER',
          number: nextPage
        })
        this.disabled = false
      },

      submitHandler(e) {
        if (this.disabled) {
          return false
        }

        e.preventDefault()
        this.disabled = true
        this.$validator.validateAll().then(() => {
          let number = this.$store.getters.getRoute('currentPage')
          let path = '/api/v2/partial_candidate.json'

          if (number === 1) {
            path = '/kandidaat/achtergrond.json'
          } else if (number === 2) {
            path = '/kandidaat/werkvoorkeur.json'
          }

          let submitUrl = {
            'path': path,
            'method': number === 0 ? 'POST' : 'PATCH'
          }

          this.$store.dispatch('SUBMIT_PAGE', submitUrl)
          .then((response) => {
            if (response.data.data.id) {
              let nextPage = response.data.links ? response.data.links['after_signup_link'] : false
              this.navigateFroward(nextPage)
              this.refreshState()
            } else if (response.status >= 400) {
              this.$store.commit('UPDATE_BACKEND_ERRORS', {
                messages: JSON.parse(response.data.data)
              })

              let data = {
                'name': 'authenticity_token',
                'value': response.data.new_token
              }
              this.$store.commit('SIMPLE_FIELD_UPDATE', data)
            }
          })
          .catch((reason) => {
            this.$store.commit('UPDATE_BACKEND_ERRORS', {
              messages: reason.response.data.errors
            })
            console.warn('Handle rejected promise (' + reason + ') here.')
            this.disabled = false
          })
        })
        .catch((r) => {
          console.warn(r)
          this.disabled = false
        })
      },

      refreshState() {
        this.$store.commit('RESET_STATE')
      }
    },
    data() {
      return {
        responseErrors: [],
        disabled: false
      }
    }
  }
  export default SubmitSection
</script>
