<template>
  <div>
    <div
      v-for="xp, index in work_experiences"
      :key="xp.id"
    >
      <component
        v-for="component, key in field.options"
        :is="component.type"
        :key="key"
        :name="component.name"
        :field="component"
        v-model="work_experiences[index][component.name]"
        v-on:change="updateData"
        :noStateBind="true"
      ></component>
      <a v-if="work_experiences.length > 1" href="#" class="remove_degree" @click.prevent="removeItem(xp.id)" v-html="field.buttons.remove || fallbackRemove"></a>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href="#" @click.prevent="addItem" v-html="field.buttons.add"></a>
      </div>
    </div>
  </div>
</template>

<script>
  import { deepCloneArray } from '../../../utils'

  import TextInput from '../text/TextInput'
  import DatePicker from '../custom/DatePicker'
  import CheckboxInput from '../checkbox/CheckboxInput'

  const WorkExperienceGroup = {
    name: 'workexperiences',
    props: ['field'],
    components: {
      'date-picker': DatePicker,
      'text_input': TextInput,
      'checkbox_input': CheckboxInput
    },
    methods: {
      addItem() {
        this.work_experiences.push({
          id: Date.now()
        })
      },
      removeItem(id) {
        this.work_experiences = this.work_experiences.filter(item => item.id !== id)
      },
      updateData() {
        let newData = deepCloneArray(this.work_experiences)
        newData = newData.map(group => {
          Object.keys(group).map(gKey => {
            if (typeof group[gKey] === 'object') {
              return Object.keys(group[gKey]).map(sgKey => {
                group[sgKey] = group[gKey][sgKey]
                return group[sgKey]
              })
            }
            return gKey
          })

          return group
        })

        this.$emit('updateWXP', {'work_experiences': newData})
      }
    },
    data() {
      return {
        fallbackRemove: '<span class="glyphicon glyphicon-remove"></span>',
        work_experiences: [
          {
            id: Date.now()
          }
        ]
      }
    }
  }

  export default WorkExperienceGroup
</script>
